@using RegistroTramitesOplagestTrifinio.Shared.DTOs.Proyectos;

<BSForm Model="Proyecto" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <BSModalHeader>Registrar nuevo proyecto</BSModalHeader>
    <BSModalContent>
        <div class="mb-3">
            <div class="form-group">
                <label for="nombre" class="form-label">Nombre</label>
                <BSInput InputType="InputType.Text" @bind-Value="@Proyecto.Nombre" id="nombre" placeholder="Ingrese el nombre del proyecto" />
                <BSFeedback For="@(() => Proyecto.Nombre)"/>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="encargado" class="form-label">Encargado</label>
                <BSInput InputType="InputType.Text" @bind-Value="@Proyecto.Encargado.Nombre" id="encargado" placeholder="Ingrese el nombre del encargado" />
                <BSFeedback For="@(() => Proyecto.Encargado.Nombre)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="telefono" class="form-label">Tel&eacute;fono</label> 
                <BSInput InputType="InputType.Text" @bind-Value="@Proyecto.Encargado.Telefono" id="telefono" placeholder="Ingrese el tel&eacute;fono del encargado" />
                <BSFeedback For="@(() => Proyecto.Encargado.Telefono)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="correo-electronico" class="form-label">Correo electr&oacute;nico</label>
                <BSInput InputType="InputType.Text" @bind-Value="@Proyecto.Encargado.CorreoElectronico" id="correo-electronico" placeholder="Ingrese el correo electr&oacute;nico del encargado" />
                <BSFeedback For="@(() => Proyecto.Encargado.CorreoElectronico)" />
            </div>
        </div>
    </BSModalContent>
    <BSModalFooter>
        <BSButton IsSubmit="true" Color="BSColor.Success">Guardar</BSButton>
    </BSModalFooter>
</BSForm>

@code 
{
    [Parameter]
    public ProyectoDTO? Proyecto { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private async Task OnDataAnnotationsValidated()
    {
        await OnValidSubmit.InvokeAsync();
    }
}