<div class="row row-cols-4 row-cols-md-2 row-cols-xxl-4 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramites.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-document" aria-hidden="true"></span> Tr&aacute;mites registrados
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesRecepction.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-paperclip" aria-hidden="true"></span> Tr&aacute;mites en recepci&oacute;n
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/en-recepcion" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesParaVisitar.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-map-marker" aria-hidden="true"></span> Tr&aacute;mites para visitar
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/para-visitar" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesVisitaCompleta.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-thumb-up" aria-hidden="true"></span> Tr&aacute;mites con visita completada
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/visita-completada" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesParaFirmar.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Tr&aacute;mites para firmar
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/para-firmar" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesParaEntregar.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-share-boxed" aria-hidden="true"></span> Tr&aacute;mites para entregar
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/para-entregar" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesFinalizados.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-check" aria-hidden="true"></span> Tr&aacute;mites finalizados
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/finalizados" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesDevueltos.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-reload" aria-hidden="true"></span> Tr&aacute;mites devueltos
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/devueltos" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <p class="card-title p-2 m-0" style="font-size:50px;">@_tramitesArchivados.ToString("N1", CultureInfo.InvariantCulture)</p>
                <div class="flex-fill p-2">
                    <p class="card-text">
                        <span class="oi oi-box" aria-hidden="true"></span> Tr&aacute;mites archivados
                    </p>
                    <div class="d-grid">
                        <a href="/tramites/archivados" class="btn btn-outline-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public List<TramiteListaDTO>? Tramites { get; set; }

    private int _tramitesRecepction = 0;
    private int _tramitesParaVisitar = 0;
    private int _tramitesVisitaCompleta = 0;
    private int _tramitesParaFirmar = 0;
    private int _tramitesParaEntregar = 0;
    private int _tramitesFinalizados = 0;
    private int _tramitesDevueltos = 0;
    private int _tramitesArchivados = 0;
    private int _tramites = 0;

    protected override void OnParametersSet()
    {
        _tramitesRecepction = Tramites.Where(t => t.Estado == "Nuevo").Count();
        _tramitesParaVisitar = Tramites.Where(t => t.Estado == "Agendado").Count();
        _tramitesVisitaCompleta = Tramites.Where(t => t.Estado == "Visitado").Count();
        _tramitesParaFirmar = Tramites.Where(t => t.Estado == "Firmar").Count();
        _tramitesParaEntregar = Tramites.Where(t => t.Estado == "Entregado").Count();
        _tramitesFinalizados = Tramites.Where(t => t.Estado == "Finalizado").Count();
        _tramitesDevueltos = Tramites.Where(t => t.Estado == "Devuelto").Count();
        _tramitesArchivados = Tramites.Where(t => t.Estado == "Archivado").Count();
        _tramites = Tramites.Count();
    }
}
