@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<EditForm Model="Tramite" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <div class="mb-4 btn-group" aria-label="group">
        @if (BotonesOpcines is not null)
        {
            @BotonesOpcines
        }
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="expediente" class="form-label">Expediente</label>
                <InputText @bind-Value="@Tramite.Expediente" id="expediente" placeholder="Ingrese el n&uacute;mero de expediente" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Expediente)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="propietario" class="form-label">Propietario</label>
                <InputText @bind-Value="@Tramite.Propietario" id="propietario" placeholder="Ingrese el nombre del propietario" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Propietario)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="proyecto" class="form-label">Proyecto</label>
                <InputText @bind-Value="@Tramite.Proyecto" id="proyecto" placeholder="Ingrese el nombre del proyecto" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Proyecto)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="telefono" class="form-label">Tel&eacute;fono</label>
                <InputText @bind-Value="@Tramite.Telefono" id="telefono" placeholder="Ingrese el n&uacute;mero de tel&eacute;fono" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Telefono)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="direccion" class="form-label">Direcci&oacute;n</label>
                <InputText @bind-Value="@Tramite.Direccion.Direccion" id="direccion" placeholder="Ingrese la direcci&oacute;n" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Direccion)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="departamentos" class="form-label">Departamento</label>
                <InputSelect Value="_departamento" ValueExpression="@(() => _departamento)" TValue="int" ValueChanged="@(async (int departamentoId) => await ObtenerMunicipios(departamentoId))" class="form-select" id="departamentos">
                    @if (Departamentos == null)
                    {
                        <option value="null">Cargando...</option>
                    }
                    else if (Departamentos.Count == 0)
                    {
                        <option value="null">No hay municipios para mostrar</option>
                    }
                    else
                    {
                        foreach (var departamento in Departamentos)
                        {
                            <option value="@departamento.DepartamentoId">@departamento.Nombre</option>
                        }

                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="municipios" class="form-label">Municipio</label>
                <InputSelect @bind-Value="Tramite.Direccion.MunicipioId" id="municipios" class="form-select">
                    @if (Municipios == null)
                    {
                        <option value="0">Cargando...</option>
                    }
                    else if (Municipios.Count == 0)
                    {
                        <option value="0">No hay municipios para mostrar</option>
                    }
                    else
                    {
                        foreach (var municipio in Municipios)
                        {
                            <option value="@municipio.MunicipioId">@municipio.Nombre</option>
                        }

                        <option value="0" selected>-- Seleccionar --</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Tramite.Direccion.MunicipioId)" />
                <p>@Tramite.Direccion.MunicipioId</p>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public FormularioTramiteDTO? Tramite { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public RenderFragment? BotonesOpcines { get; set; }

    private List<DepartamentoDTO>? Departamentos { get; set; }
    private List<MunicipioDTO>? Municipios { get; set; }
    private int _departamento = 0;

    private async Task OnDataAnnotationsValidated()
    {
        if (Tramite.Direccion.MunicipioId == 0)
        {
            await Mensaje.Error("Seleccione un municipio");
        }
        else
        {
            await OnValidSubmit.InvokeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<List<DepartamentoDTO>>("api/tramites/departamentos");

        if (peticion.Error)
        {
            await Mensaje.Error("No fue posible obtener la lista de departamentos");
        }
        else
        {
            Departamentos = peticion.Respuesta;
            await ObtenerMunicipios();
        }
    }

    private async Task ObtenerMunicipios(int departamentoId = 2)
    {
        var peticion = await Http.Get<List<MunicipioDTO>>($"api/tramites/municipios/{departamentoId}");

        if (peticion.Error)
        {
            await Mensaje.Error("No fue posible obtener la lista de municipios");
        }
        else
        {
            Municipios = peticion.Respuesta;
        }
    }
}