@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<EditForm  Model="Tramite" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <button type="submit" class="btn btn-success mb-3">Guardar</button>
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="expediente" class="form-label">Expediente</label>
                <InputText @bind-Value="@Tramite.Expediente" id="expediente" placeholder="Ingrese el n&uacute;mero de expediente" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Expediente)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="propietario" class="form-label">Propietario</label>
                <InputText @bind-Value="@Tramite.Propietario" id="propietario" placeholder="Ingrese el nombre del propietario" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Propietario)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="proyecto" class="form-label">Proyecto</label>
                <InputText @bind-Value="@Tramite.Proyecto" id="proyecto" placeholder="Ingrese el nombre del proyecto" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Proyecto)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="telefono" class="form-label">Tel&eacute;fono</label>
                <InputText @bind-Value="@Tramite.Telefono" id="telefono" placeholder="Ingrese el n&uacute;mero de tel&eacute;fono" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Telefono)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="direccion" class="form-label">Direcci&oacute;n</label>
                <InputText @bind-Value="@Tramite.Direccion" id="direccion" placeholder="Ingrese la direcci&oacute;n" class="form-control"></InputText>
                <ValidationMessage For="@(() => Tramite.Direccion)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="departamentos" class="form-label">Departamento</label>
                <InputSelect @bind-Value="Tramite.Departamento" id="departamentos" class="form-select">
                    @if (Departamentos.Count == 0 || Departamentos == null)
                    {
                        <option value="null">Cargando...</option>
                    }
                    else
                    {
                        foreach (var departamento in Departamentos)
                        {
                            <option value="@departamento.DepartamentoId">@departamento.Nombre</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Tramite.Departamento)" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="municipios" class="form-label">Municipio</label>
                <InputSelect @bind-Value="Tramite.Municipio" id="municipios" class="form-select">
                    <option>-- Seleccionar --</option>
                    <option>Chalchuapa</option>
                </InputSelect>
                <ValidationMessage For="@(() => Tramite.Municipio)" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public TramiteDTO? Tramite { get; set; } = new();
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private List<DepartamentoDTO> Departamentos { get; set; } = new();

    private async Task OnDataAnnotationsValidated()
    {
        await OnValidSubmit.InvokeAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<List<DepartamentoDTO>>("api/tramites/departamentos");

        if (peticion.Error)
        {
            await Mensaje.Error("No fue posible obtener la lista de departamentos");
        }
        else
        {
            Departamentos = peticion.Respuesta;
        }
    }
}