@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

@if (Tramites == null)
{
    <div class="d-flex align-items-center">
        <img src="images/progress.gif" width="50" />
        <p class="m-0">Cargando listado de tr&aacute;mites</p>
    </div>
}
else if (Tramites.Count == 0)
{
    <div class="d-flex align-items-center">
        <img src="images/progress.gif" width="50" />
        <p class="m-0">No hay tr&aacute;mites disponibles</p>
    </div>
}
else
{
    <div class="table-responsive-sm">
        <table class="table table-hover table-bordered rounded align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Expediente</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Encargado de proyecto</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Fecha de ingreso</th>
                    <th scope="col">Fecha de egreso</th>
                    <th scope="col">Receptor</th>
                    @if (Filtro == "Archivado")
                    {
                        <th scope="col">Archivado desde</th>
                    }
                    @if (Filtro == string.Empty)
                    {
                        <th scope="col">Estado</th>
                    }
                    else
                    {
                        <th scope="col">Opciones</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var tramite in Tramites)
                {
                    <tr>
                        <th scope="row">@(++Correlativo)</th>
                        <td>@tramite.Expediente</td>
                        <td>@tramite.Proyecto</td>
                        <td>@tramite.Encargado</td>
                        <td>@tramite.Municipio</td>
                        <td>@tramite.FechaIngreso</td>
                        <td>@tramite.FechaEgreso</td>
                        <td>@tramite.Receptor</td>
                        @if (Filtro == "Archivado")
                        {
                            <td>@(tramite.ArchivadoDesde)</td>
                        }
                        @if (Filtro == string.Empty)
                        {
                            <td>@tramite.Estado</td>
                        }
                        else
                        {
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    @if (Filtro == "Nuevo")
                                    {
                                        <a href="/tramites/nuevos/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Agendado")
                                    {
                                        <a href="/tramites/agendados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Devuelto")
                                    {
                                        <a href="/tramites/devueltos/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Visitado")
                                    {
                                        <a href="/tramites/visitados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Firmar")
                                    {
                                        <a href="/tramites/firmados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Entregado")
                                    {
                                        <a href="/tramites/entregados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Finalizado")
                                    {
                                        <a href="/tramites/finalizados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                    else if (Filtro == "Archivado")
                                    {
                                        <a href="/tramites/archivados/revisar/@tramite.TramiteId" class="btn btn-outline-primary">Revisar</a>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter] public string? Filtro { get; set; }

    private List<TramiteListaDTO> Tramites { get; set; } = new();
    private int Correlativo { get; set; } = 0;

    private async Task CargarListado()
    {
        try
        {
            var respuesta = await Http.Get<List<TramiteListaDTO>>($"api/tramites/{Filtro}");

            if (respuesta.Error)
            {
                await Mensaje.Error(await respuesta.ObtenerMensaje());
            }
            else
            {
                Tramites = respuesta.Respuesta;
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await CargarListado();
    }

    protected override bool ShouldRender()
    {
        Correlativo = 0;
        return base.ShouldRender();
    }
}