
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p class="p-4">Autorizando usuario...</p>
            </Authorizing>
            <NotAuthorized>
                <p class="p-4">No estas autorizado para ver esto!</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>P&aacute;gina no encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="p-4" role="alert">La p&aacute;gina solicitada no est&aacute; disponible.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>